<!DOCTYPE html>
<html lang="PT-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TechMind - Mundo do Trabalho</title>
  <link rel="stylesheet" href="{{url_for('static',filename='CSS/style.css')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <link rel="shortcut icon" href="{{url_for('static', filename='assets/TechMind.png')}}" type="image/x-icon">
</head>

<body>
  <header>

    <img id="logo" src="{{url_for('static', filename='assets/TechMind.png')}}">

    <input id="barraBusca" name="search" type="text" placeholder="Buscar">
   
    <div id="menu">
      <div id="menu-bar" onclick="menuOnClick()">
        <div id="bar1" class="bar"></div>
        <div id="bar2" class="bar"></div>
        <div id="bar3" class="bar"></div>
      </div>
      <nav class="nav" id="nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/noticias">Notícias Cadastradas</a></li>
          <li><a href="/cadastrar">Cadastrar notícias</a></li>
        </ul>
      </nav>
    </div>

    <div class="menu-bg" id="menu-bg"></div>

  </header>

  <main>
    <section id="mundo-trabalho">

        <h1>Mundo do Trabalho</h1>
  
        <div class="Mundo">
          
          <p>O mundo do trabalho está em constante processo de transformação, moldado por diversos fatores históricos, sociais, culturais e tecnológicos. Ao longo da história o mundo do trabalho já sofre diversas mudanças desde o passado agrário até os dias atuais, passando pela revolução industrial, testemunhamos grandes mudanças desde então. No presente estamos imersos em um contexto globalizado e novas tecnologias e projetar o futuro é crucial para refletir as mudanças que moldaram o mundo do trabalho e como podemos nos adaptar para poder criarmos uma sociedade mais inclusiva e sustentável. </p>
  
          <h2>Passado</h2>
  
          <p>No passado, o mundo do trabalho era significativamente diferente do que é hoje. O trabalho era predominantemente agrícola e artesanal, com a maioria das pessoas envolvidas em atividades relacionadas à agricultura, pesca, caça ou produção manual de bens. As pessoas viviam em comunidades agrárias e dependiam das estações do ano para suas colheitas e atividades relacionadas à agricultura. As condições de trabalho eram muito diferentes das que temos atualmente. A proteção ao trabalhador eram pouca e as vezes nulas. A maior parte do trabalho era feita manualmente com ferramentas ou máquinas utilizada a tecnologia e o conhecimento da época, o que deixava ainda mais perigoso o trabalho. </p>
  
          <h2>Presente</h2>
          
          <p>Atualmente, o mundo do trabalho é caracterizado pela grande influência da tecnologia e automação. O trabalho remoto tornou-se mais comum, proporcionando flexibilidade aos trabalhadores. Há uma ênfase na diversidade, inclusão e sustentabilidade nos locais de trabalho. Hoje em dia, as condições de trabalho são consideravelmente melhores, temos leis que protegem o trabalhador. </p>
  
          <h2>Futuro</h2>
  
          <p>O futuro do trabalho será fortemente influenciado pela contínua evolução tecnológica, com a automação e a inteligência artificial impactando uma variedade de setores. Haverá uma demanda crescente por habilidades especializadas, criatividade e habilidades sociais. O trabalho remoto deve persistir, proporcionando mais flexibilidade ainda aos trabalhadores. A diversidade, inclusão e preocupações ambientais moldarão os ambientes de trabalho. No entanto, desafios como a requalificação de trabalhadores e a garantia de empregos significativos em meio à automação também precisarão ser abordados. </p>
  
          <h2>Conclusão</h2>
  
          <p>O mundo do trabalho está passando por mudanças significativas. E precisamos nos adaptar o máximo, buscar habilidades relevantes e o equilíbrio sobre a tecnologia e a humanidade são extremamente importantes para prosperar em um lugar de trabalho em evolução, com essa pesquisa aprendemos que o mundo do trabalho sempre está em constante mudança que a tecnologia ao passar dos anos tem evoluído muito rápido e tendo uma qualidade de serviço melhor para os profissionais de todas as áreas.</p>
  
        </div>
      </section>
  </main>
  <script src="{{url_for('static', filename='JS/Script.js')}}"></script>
</body>

</html>